@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 6% 99%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 25 95% 53%;
    --primary-foreground: 210 40% 98%;

    --secondary: 98 29% 63%;
    --secondary-foreground: 98 29% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --success: 142 71% 45%;
    --success-foreground: 119 100% 95.6%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --warning: 48 100% 67%;
    --warning-foreground: 48 100% 20%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

.dark .filepond--panel-root {
  background-color: hsl(0 0% 14.9%) !important;
}

.dark .filepond--drop-label {
  color: hsl(10 40% 98%) !important;
}
@layer base {
  .clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }

  .clip-rev {
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  }
}

@layer components {
  .header {
    @apply text-white flex h-fit justify-between;
  }

  .header-scrolled {
    backdrop-filter: blur(10px);

    @apply shadow-xl !fixed  inset-0 z-10 !bg-white bg-opacity-80;
  }

  .builds-item * {
    @apply transition-all;
  }

  .builds-item:hover img {
    transform: scale(1.01);
  }

  .required::after {
    content: "*";
    @apply text-red-500 ml-1;
  }

  .complete-step {
    @apply bg-zinc-800 !text-background;
  }

  .complete-step span {
    @apply bg-white text-foreground;
  }
}

.featured-pricing::before {
  content: "";
  background: url("/topographical.jpg") center/cover no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

@media screen and (max-width: 768px) {
  .photo-list {
    grid-template-columns: 1fr !important;
  }
}
